{% extends 'base.html.twig' %}



{% block title %}Qui sommes-nous{% endblock %}

{% block body %}

<div class="header text text-primary text-center">
    <h1>Qui sommes-nous ?</h1>
</div><br><br>

<div class="container">
    <div class="content">
        <h2>GoalGear</h2>
        <p class="fs-5">Nous sommes une entreprise spécialisée dans la vente d'équipements de football. Chez GoalGear, nous sommes passionnés par le football et nous croyons que tout joueur mérite d'avoir l'équipement parfait pour réussir sur le terrain.</p>
        <img src="https://tse1.mm.bing.net/th?id=OIP.0C9stnnosVLNV4kdryO1WAHaEC&pid=Api&P=0" width="500" height="300" alt="Image de GoalGear">

        <p class="fs-5 mb-4">Nous travaillons avec les plus grandes marques de l'industrie pour offrir une vaste sélection de produits de qualité supérieure, allant des chaussures de football aux vêtements d'entraînement en passant par les ballons. Nous nous engageons à offrir des produits de qualité à des prix compétitifs, tout en offrant un excellent service à la clientèle.</p>
        <img src="https://tse1.mm.bing.net/th?id=OIP.pibuwmAlPu5pkw7yFmA1HQHaEK&pid=Api&P=0" width="500" height="300" alt="Image de GoalGear">

        <p class="fs-5">Nous sommes fiers d'être une entreprise 100% en ligne, ce qui nous permet de maintenir des coûts d'exploitation bas et de passer ces économies à nos clients. Nous sommes également fiers de servir des joueurs de tous les niveaux, des débutants aux professionnels, et de contribuer à leur passion pour le football.</p>
    </div>
</div>

{% endblock %}

