
{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<div id="passwordResetconfirmation" class="container mt-4">
    

   <h1>Mot de passe réinitialisé avec succès</h1>
    <p>Votre mot de passe a été réinitialisé avec succès.</p>
</div>    
{% endblock %}
